[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django = "*"
requests = "*"
beautifulsoup4 = "*"
mysqlclient = "*"
folium = "*"
translate = "*"

[dev-packages]

[requires]
python_version = "3.10"

[build]
  command = "pipenv install --ignore-pipfile && pipenv run python manage.py collectstatic --noinput"
  publish = "static"