{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/styles/details.css' %}" type="text/css">
    <title>{{datas.pays}}</title>
</head>
<body>
    <div class="content">
        <div class="details">
            <h1>{{datas.pays}}</h1>
            <p>NB Population: </p><span class="data">{{datas.population}}</span>
            <br>
            <p>Superficie: </p><span class="data">{{datas.superficie}}</span>
            <br>
            <p>Langue: </p><span class="data">{{datas.langue}}</span>
            <br>
            <p>Capitale: </p><span class="data">{{datas.capitale}}</span>
            <br>
            <p>Gentilé: </p><span class="data">{{datas.habitant}}</span>
            <br>
            <p>Latitude: </p><span class="data">{{datas.latitude}}</span>
            <br>
            <p>Longitude: </p><span class="data">{{datas.longitude}}</span>
        </div>
        <div class="map">{{datas.map | safe}}</div>
    </div>
</body>
</html>